<h1>Add Meetup</h1>

<form action="/create_meetup" method="post">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="form_text" name="meetup[name]">
  </div>

  <div>
    <label for="location">Location:</label>
    <input type="text" id="form_text" name="meetup[location]">
  </div>

  <div>
    <label for="description">Description:</label>
    <textarea id="form_text" name="meetup[description]"></textarea>
  </div>

  <div>
    <label for="date">Date:</label>
    <input type="text" id="form_text" name="meetup[date]">
  </div>

  <input type="submit" value="Add Meetup">
</form>
