<form action="/create_comment" method="post">
  <div>
    <label for="title">Title:</label>
    <input type="text" id="form_text" name="comment[title]">
  </div>

  <div>
    <label for="body">Body:</label>
    <textarea id="form_text" name="comment[body]"></textarea>
  </div>

  <input type="submit" value="Add Comment">
</form>
