<% title.each do |meetup| %>
  <h1>Meetup: <a href="/<%= meetup.id %>"><%= meetup.name %> </a></h1>
  <h3> At: <%= meetup.location %> </h3>
<% end %>

<% if signed_in? %>
  <%= erb :add_meetup %>
<%else%>
  <br><br><br><h1>Sign in to create a meetup!</h1>
<% end %>
